# python byte codes
__pycache__/
*.pyc

# environment
.env/

# scripts to preprocess dataset
preprocess*.py

# data / database
media/
data/
checkpoints/
*/migrations/versions/

# logs
logs/
*.log
*log.txt
log*.txt

# config files
*config*
*.cfg
*.conf

# Unittest
.coverage

# Jupyter Notebook
.ipynb_checkpoints
