<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block links %}{% endblock links %}
  </head>
  <title>Visual Question Answering App{% block title %}{% endblock title %}</title>
  <body>
    <div class="navbar">
        <ul>
            <li><a class="{% if active == 'home' %}active{% endif %}" href="{{ url_for('base.index') }}">Home</a></li>
            <li><a class="{% if active == 'prediction' %}active{% endif %}" href="{{ url_for('base.prediction') }}">Prediction</a></li>
            <li><a class="{% if active == 'note' %}active{% endif %}" href="{{ url_for('base.note') }}">Note</a></li>
        </ul>
    </div>
    <div class="container">
      {% block content %}{% endblock content %}
      {% block scripts %}{% endblock scripts %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
