<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block links %}{% endblock links %}
  </head>
  <title>Visual Question Answering App{% block title %}{% endblock title %}</title>
  <body>
    <div class="navbar">
      <a class="{% if active == 'home' %}active{% endif %}" href="{{ url_for('base.index') }}">Home</a>
      <a class="{% if active == 'prediction' %}active{% endif %}" href="{{ url_for('base.prediction') }}">Prediction</a>
      <a class="{% if active == 'note' %}active{% endif %}" href="{{ url_for('base.note') }}">Note</a>
      {% if g.user %}
        <div class="login-menu">
          <div class="login-menu-user">
            <a class="login-user-tag">@{{ g.user.username }}</a>
          </div>
          <div class="login-menu-content">
            {% if g.user.is_admin %}
            <a href="{{ url_for('base.update_register') }}">Updates</a>
            <a href="{{ url_for('base.ref_register') }}">References</a>
            {% endif %}
            <a href="{{ url_for('base.logout') }}">Logout</a>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="container">
      {% block content %}{% endblock content %}
      {% block scripts %}{% endblock scripts %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>