{% extends 'base.html' %}
{% set active = 'note' %}
{% block title %} - note{% endblock title %}
{% block content %}
<h2>Note</h2>
{% if updates %}
<h3>Update:</h3>
<div id="update-list">
  <ul>
  {% for line in updates %}
    <li>({{ line.id }}) {{ line.update_at.strftime('%m/%d/%Y') }} {{ line.content }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% if references %}
<h3>Reference:</h3>
<div id="reference-table">
  <ul>
  {% for line in references %}
    <li>[{{ line.id }}] {{ line.author }}, {{ line.title }}, {{ line.year }} {% if line.url %}[<a href="{{ line.url }}">link</a>]{% endif %}</li>
  {% endfor %}
  </ul>
</div>
{% else %}
<p>This page shows update history and references.</p>
{% endif %}
{% endblock content %}